/* applies to anything of class "example-class-selector" */
.example-class-selector {
    margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
    /* Colors are in hexadecimal: http://www.colorpicker.com/ */	
    color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
the CSS to the page. feel free to remove it once the link is working. */
body {
    border: 1px dotted gray;
    padding: 20px;
    font-family:helvetica, sans-serif;
}
#header {
    color:#4d4d4d;
    background-color:#dddddd;
}
.grey_font  {
    color:#666666;
}

.red_font {
    color:#ff4040;
}

.imgBox {
    width:580px;
    height:280px;
    position:relative;
}

.imgText {
    color:white;
    background-color:#a7bdb9;
    z-index:100;
    position:absolute;
}

.project {
    margin-left:30px;
    background-color:#a7bdb9;
    padding: 20px;
    width: 595px;
    margin-bottom:15px;
}


